
// Base
// -------------------

// Used for global styles
// Or to override certain Atom core styles

// -------------------


body {
  font-size: @font-size;
  color: @text-color;
  background-color: @app-background-color;
}

atom-pane-container {
  atom-pane {
    background-color: @dark-gray;
    border-right: 1px solid @base-border-color;
    &:last-child {
      border-right: none;
    }
    .item-views .pane-item {
      background-color: @dark-gray;
    }
  }
}


// Scroll Bar -------------------
.scrollbars-visible-always ::-webkit-scrollbar {
  background-color: @gray;
  width: 3px;
  height: 3px;

  &-thumb {
    background-color: lighten(@gray, 10%);
    &:active {
      background-color: lighten(@gray, 20%);
    }
  }
}
