
// GitHub Commit View
// -------------------
.github-CommitView-editor {
  background-color: @dark-gray;

  .github-CommitView-coAuthorToggle,
  .github-CommitView-expandButton {
    background-color: inherit;
  }

  .github-CommitView-hardwrap {
    display: none;
  }
}

.github-StagingView-header {
  border-bottom: none;
  border-top: 1px solid @base-border-color;

  .github-StagingView-headerButton {
    border-left: none;
  }
}


// Atom IDE Debugger
// -------------------
.debugger-container .debugger-controls-section {
  border-color: transparent;
}
