
// GitHub
// -------------------
.github-CommitView-editor,
.github-HunkView {
  background-color: @dark-gray;

  .github-CommitView-coAuthorToggle,
  .github-CommitView-expandButton {
    background-color: inherit;
  }

  .github-CommitView-hardwrap {
    display: none;
  }
}

.github-StagingView-header {
  border-bottom: none;
  border-top: 1px solid @base-border-color;

  .github-StagingView-headerButton {
    border-left: none;
  }
}


// Atom IDE
// -------------------
.debugger-container .debugger-controls-section {
  border-color: transparent;
}

.terminal-pane {
  background-color: @dark-gray;
}

.nuclide-tabbable .nuclide-diagnostics-ui-settings-modal .settings-panel {
  background-color: @base-background-color;
}

.nuclide-ui-toolbar--top,
.nuclide-ui-table-header,
.nuclide-ui-table-header-cell,
.nuclide-ui-table-body-cell {
  border: none;
}

.nuclide-ui-table-header {
  background-color: @dark-gray;
}

.outline-view-item .selected .syntax--entity.syntax--name.syntax--function {
    color: #fff !important;
}


// Minimap
// -------------------
atom-text-editor atom-text-editor-minimap .minimap-visible-area::after {
  background-color: rgba(127, 137, 142, .1);
}


// Deprecation Cop
// -------------------
.deprecation-cop {
  background-color: inherit !important;
}


// Split Diff
// -------------------
.split-diff-offset {
  background-color: @dark-gray !important;
}


// Style Guide
// -------------------
.styleguide .example .example-code {
  background-color: @very-dark-gray;
}

.styleguide-sections > section {
  background-color: @dark-gray;
}
