
// Settings View
// -------------------

.settings-view {
  .config-menu,
  .settings-panel,
  .section, .panels-item {
    background-color: @dark-gray;
  }

  .themes-picker-item .btn {
    margin-left: 10px;
    height: 31px;
  }
}
