
// Status Bar
// -------------------

// Located at the bottom.
// Displays information about the current editor.
// Overrides: atom/status-bar

.status-bar {
  font-size: @font-size;
  color: @text-color;
  background-color: @base-background-color;
  height: 23px;

  .status-bar-right {
    padding: 0;
  }

  a, span, .selection-count, .highlight-selected-status, .buffer-modified::after {
    color: @text-color-selected !important;
    // font-weight: bold;
    line-height: 23px;
  }

  a:hover, span:hover {
    color: inherit;
    text-decoration: none !important;
    cursor: pointer;
  }
}
